.btn{
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;

	&:focus{
		outline: none;
	}
	&--search{
		font-size: get-rem(14pt);
	}
	&--search-close{
		position: absolute;
		top:get-vw(60px);
		right: get-vw(86.5px);
		// display: none;
	}
	&--hidden{
		pointer-events: none;
		opacity: 0;
	}
	&--profile-viwer{
		position: absolute;
		z-index: 200;
		left: 0;
		bottom:0;
		width: 100%;
		@include respond(tab-port){
			width: 23.4rem;
		}
		height: get-vw(110px);
		background-color: $main-blue;
		color: #fff;
		font-size: 1.4rem;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 3px;
		&::before{
			@include respond(tab-port){
				content: '';
			}
			position: absolute;
			right: get-vw(-110px);
			top: 0;
			width: get-vw(110px);
			height: get-vw(110px);
			background-color:#fff;
			background-image: url(/src/images/play.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&--nav{
		&-prev,
		&-next{
			display: block;
			@include respond(tab-port){
				display: none;
			}
			position: absolute;
			z-index: 201;
			bottom: 0;
			color: #fff;
			font-size: 1.2rem;
			padding-bottom: .2rem;
		}
		&-prev{
			left: 0;
		}
		&-next{
			right: 0;
		}
	}
	&--explore-more{
		position: relative;
		width: 100%;
		font-size: 1.4rem;
		@include respond(tab-port){
			width: get-vw(220px);
			height: get-vw(62px);
			font-size: get-vw(14px);
		}
		color: #fff;
		background-color: $main-blue;
		text-transform: uppercase;
		font-weight: 700;
		border-radius: 30px;
		&:hover,
		&:active{
			background-color: $main-dark-blue;
		}

	}
	&--trending{
		position: absolute;
		top: get-vw(10px);
		right: get-vw(10px);
		width: get-vw(206px);
		height: get-vw(56px);
		background-color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		font-size: get-vw(14px);
	}
}
