$vw-base:1920;

// layout variables
$global-margin: 60px;
$gutter-vertical: 100px;
$gutter-horizontal: 50px;

// color
$black: #1a1a1d;
$gray: #77777e;
$nav-color:#fff;
$main-blue: #c5dcdc;
$main-dark-blue: #6c8888;
