$vw-base:1920;

// layout variables
$global-margin: 60px;
$gutter-vertical: 100px;
$gutter-horizontal: 50px;

// color
$black: #1a1a1d;
$gray: #77777e;
$light-gray:#e0e0e0;
$nav-color:#fff;
$main-blue: #c5dcdc;
$secondary-blue:#b9d6d6;
$main-dark-blue: #6c8888;

// font family
$main-font: 'Nunito';
$secondary-font: 'Poppins';
