.header{
	font-size: get-rem(14pt);
	margin-bottom: get-vw($gutter-vertical);
	&__nav{
		display: none;
		@include respond(desktop){
			display: inline-block;

		}

	}
	&__link{
		text-transform: uppercase;
		margin-left: 50px;
		margin-left: get-vw(50px);
		font-weight: 700;
	}
	&__logo{
		img{
			width: 60%;
			margin: 0 auto;
			@include respond(desktop){
				width: 225px;
				width: get-vw(225px);
			}
		}
	}
	&__search-wrap{
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		@include respond(desktop){
				&::before{
				content: '';
				width:772px;
				height: 720px;
				width: get-vw(772px);
				height: get-vw(720px);
				background-color: $main-blue;
				position: absolute;
				top: get-vw(-60px);
				right: get-vw(-60px);
				z-index: -2;
			}
		}

	}
	&__input{
		display: none;
	}
	&__icon{
		display: inline-block;
	}
}
