/* Global
============= */
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Nunito",sans-serif;
	font-size: 14pt;
	font-weight: 400;
}
img,h1,h2,h3,h4,h5,h6,p,form,input{
	margin: 0;
	padding:0;
}
/* responsive web design */
* {
    box-sizing: border-box;
}
[class*="col-"] {
	float: left;
	width: 100%;
    padding: 15px;
}
.container{
	position: relative;
	padding: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* header section
=================*/
header{
	margin: 60px 60px;
	text-align: center;
}
header nav {
	text-align: left;
}
header nav a{
	text-decoration: none;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 900;
	color: #1a1a1d;
	transition: color 0.5s;
}
header nav a:hover{
	color: #87bbbc;
}
header #logo img{
	max-width: 225px;

}
header #search{
	text-align: right;
	position: relative;

}
header #search::after{
	content: "";
	position: absolute;
	min-width: 500px;
	height: 500px;
	top: -60px;
	right: -110px;
	margin: 0 50px;
	background-color:#c6dddd;
	z-index: -1;
}
header #search form{
	margin-right: -30px;
}
header #search form input[type="search"]{
	font-size: 14pt;
	padding: 5px;
	width: 0%;
	border:none;
	opacity: 0;
	color:transparent;
	background-color: transparent;
	transition: width 500ms ease-in,
				opacity 900ms ease-in,
				color 500ms ease-in;
}
header #search form a i{
	transition: color 500ms;
}
header #search form a:hover i{
	color: #4c7879;
}
header #search form:hover input[type="search"]{
	width: 80%;
	background-color: white;
	display: inline-block;
	opacity: 1;
	color: #000;
}
header #search input[type="search"]:focus{
	width: 80%;
	background-color: white;
	opacity: 1;
	color: #000;
}

/* hero section
=================*/
#hero{
	margin: 0 50px ;
}
#hero ul{
	list-style: none;
	margin-top: 0;
	margin-bottom: 100px;
	padding: 0 20px;
}
#hero ul li{
	margin-bottom: 40px;
}
#hero ul li i{
	font-size: 16px;
}
#hero .line{
	width: 2px;
    height: 60px;
	background: black;
	margin-left: 28px;
	margin-bottom: 72px;
}
#hero .profile-number{
	margin-left: 18px;
	transform: rotate(-90deg);
	transform-origin: left top 0;
}
#hero button{
	background-color: #b4d3d3;
	border: none;
	width: 250px;
	height: 70px;
	font-family: "Nunito";
	font-size: 16pt;
	color : white;
	padding: 20px;
	margin-left: 30px;
	margin-top: 90px;
	position: relative;
}
#hero button::after{
	content: "";
	width: 70px;
    height: inherit;
    top: 0px;
    right: -70px;
	position: absolute;
	background:white url("../images/play.png") no-repeat center;
}
#hero button img{
	max-width: 25px;
	max-height: 35px;
}
#hero .hero-image{
	background: url(../images/hero.jpg) no-repeat;
	padding: 141px 0;
}
#hero .hero-image h2{
	font-size: 100pt;
	font-family: "Poppins";
	font-weight: 400;
	text-transform: capitalize;
	margin-left: -103px;
	line-height: 1em;
}
#hero .hero-image p{
	font-size: 17pt;
	margin-left: -103px;
	margin-top: 78px;
	text-transform: uppercase;
}

#hero .image-count ul{
	padding: 312px 0px 0px 20px;
	font-size: 12pt;
}
#hero .image-count ul li{
	margin: 25px;
}
#hero .horizontal-line{
	background-color: #000;
	width: 41px;
    height: 2px;
    margin-top: 393px;
    margin-left: 16px;
    padding: 0;
}


/* catigories section
=======================*/

.catigory-navigation{
	text-align: center;
	margin: 82px 0;
}
.catigory-navigation a{
	text-decoration: none;
	color: #696970;
	padding: 16px;

}
.catigory-navigation a:hover{
	color: #1a1a1d;
	border-bottom: 2px solid #1a1a1d;
}
.talent-image{
	width: 100%;
	display: block;
	height: auto;
}
.overlay{
	transition: opacity .5s ease;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #2d2f3365;
	padding: 10px;
}

.container:hover .overlay{
	opacity: 1;
}
.overlay .artist-info{
	position: absolute;
	top: 80%;
	left: 20%;
	right: 20%;
	color: white;
	text-align: center;
	transform: translate(-0%,-50%);
}
.artist-info p:nth-of-type(1){
	text-transform: capitalize;
	font-family: 'Poppins';
	font-size: 30pt;
}
.artist-info p:nth-of-type(2){
	text-transform: uppercase;
	font-family: 'Nunito';
	font-size: 12pt;
	color: #adadb5;
}
.overlay .artist-link{
	position: absolute;
	top: 4%;
	right:4%;
	border-radius: 50%;
	background-color: #b4d3d3;
	width: 60px;
	height: 60px
}
.overlay .artist-link img{
	width: 30%;
	margin: 21px;
}
.talent-row{
	padding: 0 30px;
}
.more-catigory{
	text-align: center;
	padding: 30px 0;
}
.more-catigory button{
	width: 260px;
	height: 60px;
	background-color: #b4d3d3;
	border: none;
	color: white;
	font-size: 14pt;
	text-transform: uppercase;
	border-radius: 26px;
	padding: 25px 40px;
	line-height: 1em;
	transition: background-color .5s ease;
}
.more-catigory button:hover{
	background-color: #4c7879;
}
.more-catigory button:active{
	background-color: white;
	color: #b4d3d3;
	border:2px solid #b4d3d3;
}
.more-catigory button:focus{
	outline: none;
}


/* stories section
====================*/
#stories{
	margin: 30px 1s0px;
}
.story-title {
	text-align: center;
	font-size: 60pt;
	text-transform: capitalize;
	position: relative;
	font-family: 'Poppins';
	padding-bottom: 50px;
}
.story-title::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 40%;
	height: 2px;
	width: 200px;
	background: #000;
	border-bottom: 2px solid black;
	margin: 45px;
}
.headline-story img{
	float: left;
	margin-right: 21px;
}
.headline-story a{
	text-decoration: none;
	color: #000;
	font-family: 'Poppins';
	font-size: 14pt;
	transition: color .5s ease;
}
.headline-story a:hover{
	color: #87bbbc;
}
.story-date{
	margin-top: 30px;
}

.gradian-story{
	background: linear-gradient(180deg, #d8e6e6,#b6d4d4);
	padding: 125px  32px 32px 32px;
	color: white;
}
.gradian-story p{
	margin-top: 32px;
	text-transform: capitalize;
	font-family: 'Poppins';
	font-size: 20pt;
	font-weight: 500;
}

.less-height{
	width: 100%;
}
.topright{
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;

}
.btn-trending{
	border: none;
	background: white;
	text-transform: uppercase;
	padding: 23px 55px;
	font-size: 12pt;
	font-weight: 600;
	width: 206px;
	transition: color .5s ease;
}
.btn-trending:hover{
	color: #87bbbc;
}
.btn-trending:focus{
	outline: none;
}
.btn-trending:active{
	color: white;
	background: #87bbbc;
}
.small2-story{
	padding-left: 0;
}
.small2-story p{
	font-family: 'Poppins';
	font-size: 18pt;
	font-weight: 500;
}
.small2-story .story-date{
	color: #adadb5;
}

.carosell-story img:first-of-type{
	width: 100%;
	margin-top: 15px;
	height: 400px;
}
.bottom-left{
	position: absolute;
	bottom: 0;
	left: 0;
}
.carosell-story ul{
	position: absolute;
	top: 35%;
	right: 0;
	color: white;
	margin-right: 10px;
}
.carosell-story .round-play{
	width: 94px;
	height: 94px;
	border: 1px solid white;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 40px;
}
.carosell-story  p{
	color: white;
	position: absolute;
	bottom: 18%;
	left: 35%;
	margin-left: 20px;
}
.carosell-story .round-play img{
	width: 27px;
	height: 35px;
}

/* footer section
=================*/



/* media queries
=================*/

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
		/* For desktop: */
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
