/* Global
============= */
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Nunito",sans-serif;
	font-size: 14pt;
	font-weight: 400;
}
img,h1,h2,h3,h4,h5,h6,p,form,input{
	margin: 0;
	padding:0;
}
/* responsive web design */
* {
    box-sizing: border-box;
}
[class*="col-"] {
	float: left;
	width: 100%;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* header section
=================*/
header{
	margin: 60px 60px;
	text-align: center;
}
header nav {
	text-align: left;
}
header nav a{
	text-decoration: none;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 900;
	color: #1a1a1d;
	transition: color 0.5s;
}
header nav a:hover{
	color: #87bbbc;
}
header #logo img{
	max-width: 225px;

}
header #search{
	text-align: right;
	position: relative;

}
header #search::after{
	content: "";
	position: absolute;
	min-width: 500px;
	height: 500px;
	top: -60px;
	right: -110px;
	margin: 0 50px;
	background-color:#c6dddd;
	z-index: -1;
}
header #search form{
	margin-right: -30px;
}
header #search form input[type="search"]{
	font-size: 14pt;
	padding: 5px;
	width: 0%;
	border:none;
	opacity: 0;
	color:transparent;
	background-color: transparent;
	transition: width 500ms ease-in,
				opacity 900ms ease-in,
				color 500ms ease-in;
}
header #search form a i{
	transition: color 500ms;
}
header #search form a:hover i{
	color: #4c7879;
}
header #search form:hover input[type="search"]{
	width: 80%;
	background-color: white;
	display: inline-block;
	opacity: 1;
	color: #000;
}
header #search input[type="search"]:focus{
	width: 80%;
	background-color: white;
	opacity: 1;
	color: #000;
}




/* hero section
=================*/


/* catigories section
=======================*/


/* stories section
====================*/


/* footer section
=================*/



/* media queries
=================*/

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
		/* For desktop: */
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
